<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<true/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>KEY SELLING POINTS.md</string>
		</array>
		<array>
			<string>Dominios a criar para demo.md</string>
		</array>
		<array>
			<string>Features a considerar.md</string>
		</array>
		<array>
			<string>Pricing.md</string>
		</array>
		<array>
			<string>Trabalhos previstos.md</string>
		</array>
	</array>
</dict>
</plist>
